// taken from https://ecosystem.vuejs.press/themes/default/styles.html#palette-file

:root {
  --vp-c-accent: #ffffff;
  --vp-c-accent-bg: #CC4FF7;
  --vp-c-accent-hover: #c343ee;

  --vp-c-bg: #161922;
}